/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    color: $link_color;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;

    &:hover,
    &:active {
      text-decoration: none;
    }
    
    &:focus {
      @include focus-ring;
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
    font-size: $font-size-bigger;
    font-family: $heading_font;
  }

  &-item-description {
    font-weight: 400;
    font-size: $font-size-base;
    margin: 0;
    color: $field-text-color;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }

  &-item-icon {
    margin-right: 1.5rem;
    text-align: left;
    font-size: 2rem;
  }
}
