/***** Hero component *****/
.hero {
  background-color: $brand_color;
  padding: 3rem 4rem;
  text-align: center;
  width: 100%;

  &-inner {
    margin: 0 auto;
  }
  &-sm {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}
