@import "normalize";
@import "variables";
@import "mixins";
@import "base";
@import "buttons";
@import "split_button";
@import "tables";
@import "forms";
@import "header";
@import "user";
@import "footer";
@import "breadcrumbs";
@import "search";
@import "hero";
@import "page_header";
@import "sub-nav";
@import "blocks";
@import "home-page";
@import "recent-activity";
@import "category";
@import "section";
@import "article";
@import "attachments";
@import "share";
@import "comments";
@import "vote";
@import "actions";
@import "community";
@import "striped_list";
@import "status-label";
@import "post";
@import "collapsible-nav";
@import "collapsible-sidebar";
@import "my-activities";
@import "request";
@import "pagination";
@import "metadata";
@import "user-profiles";
@import "search_results";
@import "notifications";
@import "dropdowns";

body { 
  background: #f3f5f7;
}

.paper {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  z-index: 3;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
  display: block;
  outline: none;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  -webkit-transition: border .15s linear, background-color .15s linear, opacity .15s linear, -webkit-transform .15s linear, -webkit-box-shadow .15s linear;
  transition: border .15s linear, background-color .15s linear, opacity .15s linear, -webkit-transform .15s linear, -webkit-box-shadow .15s linear;
  -o-transition: border .15s linear, transform .15s linear, background-color .15s linear, box-shadow .15s linear, opacity .15s linear;
  transition: border .15s linear, transform .15s linear, background-color .15s linear, box-shadow .15s linear, opacity .15s linear;
  transition: border .15s linear, transform .15s linear, background-color .15s linear, box-shadow .15s linear, opacity .15s linear, -webkit-transform .15s linear, -webkit-box-shadow .15s linear;

  &:hover {
    border: 1px solid rgba(136,149,162,0.2);
    background-color: #fcfcfc;
  }
}

#main-content {
  margin-bottom: 1rem;
}

#section-articles-title {
  display: block;
  margin-bottom: 0.5rem;
}